<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!-- 
    作用域插槽：组件的data通过插槽传递给父组件
    1.在子组件插槽<slot :abc="pLanguages"></slot>
    2.父组件使用子组件<template slot-scope="scope"> {{ scope.abc }} </template>
  -->
  <div id ="app">
    <h2>{{ message }}</h2>
    <cpn></cpn>

    <cpn>
      <!-- 目的是获取子组件中的pLanguages -->
      <template slot-scope="slot">
        <!-- <span v-for="item in slot.data">{{ item }} -- </span> -->
        <span>{{ slot.data.join(' -- ') }}</span>
      </template>
    </cpn>

    <cpn>
      <!-- 目的是获取子组件中的pLanguages -->
      <template slot-scope="slot">
        <!-- <span v-for="item in slot.data">{{item}} * </span> -->
        <span>{{ slot.data.join(' * ') }}</span>
      </template>
    </cpn>
  </div>
  <template id="cpn">
    <div>
      <slot :data="pLanguages">
        <ul>
          <li v-for="item in pLanguages">{{ item }}</li>
        </ul>
      </slot>
    </div>
  </template>
  <script src="../js/vue.js"></script>
  <script>
    //创建Vue实例,得到 ViewModel
    const app = new Vue({
      el: '#app',
      data: {
        message: 'hello vue'
      },
      components: {
        cpn: {
          template: '#cpn',
          data() {
            return {
              pLanguages: ['js', 'c++', 'java', 'c#', 'python', 'go', 'swift']
            }
          }
        }
      },
      methods: {}
    })
  </script>
</body>
</html>